body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(image/contact\ background\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: rgb(2,0,36);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
    border-radius: 20px;
}
.logo img {
    width: 500px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-style: hidden;
    background: scroll;
    top: 0;
    width: 100%;
  }
  
  .menu li {
    float: left;
    padding: 40px;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16x;
    text-decoration: none;
    border: 2px solid darkolivegreen;
    padding: 10px;
    color: black;
    background-color: darkorange;  
    border-radius:10px;
}
.menu a:hover{
    background-color:black;
    color: white;
    transition: 0.5s ease-in-out;
    border: 2px solid black;
  }
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(190, 19, 19, 0.986);
    border-radius: 5px;
    margin-top: 20px;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .logo img {
        width: 200px;
    }
    .menu li {
        padding: 20px;
    }
    .menu li a {
        padding: 10px;
    }
    main {
        padding: 10px;
    }
    input, textarea {
        padding: 5px;
        font-size: 14px;
    }
    button {
        padding: 5px;
        font-size: 14px;
    }
    footer p {
        font-size: 14px;
    }
    footer a {
        font-size: 14px;
    }
    
}