body{
    background-image: url(image/background-image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
header{
    background-color: rgb(2,0,36);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
}
.logo img {
    width: 500px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-style: hidden;
    background: scroll;
    top: 0;
    width: 100%;
  }
  
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16x;
    text-decoration: none;
    border: 2px solid darkolivegreen;
    padding: 10px;
    color: black;
    background-color: darkorange;  
    border-radius:10px;
}
.menu a:hover{
    background-color:black;
    color: white;
    transition: 0.5s ease-in-out;
    border: 2px solid black;
  }
  @media (max-width: 768px){
    .logo img{
      width: 200px;
    }
    .menu ul{
      display: flex;
        flex-direction: column;
    }
    .menu li{
      padding: 20px;
    }
    .menu li a{
      padding: 10px;
    }
  }
  h1{
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .content{
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
    .content h2{
        color: black;
        font-size: 30px;
    }
    .content p{
        color: black;
        font-size: 20px;
    }
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px 0;
        margin-top: 20px;
    }
    
    footer p {
        margin: 5px 0;
    }
    
    footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
