body{
    background-image: url(image/schedule.bg.jpg);
    background-size: cover;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 1250px;
}
a:hover{
    color: red;
    transition: 0.5s ease-in-out;
}
h1.heading{
    text-align: center;
    font-size: 50px;
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: italic;
    padding: 50px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 30px;
}
th, td{
    margin-bottom: 20px;
    font-size: large;
    padding: 10px;
    text-align: center;
    color:white;
    border: 1px solid black;
}

th{
    background-color: darkblue;
    color:lawngreen;
}
td{
    background-color: lightgray;
    color: black;
}