body{
    background-image: url(image/background-image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}
.button{
    color: white;
    padding-left:500px; ;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease-in-out;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border: 2px solid white;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
}
a:hover{
    background-color: orange;
    transition: 0.5s ease-in-out;
}
h1.heading{
    text-align: center;
    font-size: 40px;
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: italic;
    padding: 50px;
    background-image: url(image/heading-backgroung-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 30px;
}
th, td{
    margin-bottom: 20px;
    font-size: large;
    padding: 10px;
    text-align: center;
    color:white;
    border: 1px solid black;
}

th{
    background-color: darkblue;
    color:lawngreen;

}
td{
    background-color: lightgray;
    color: black;
}
@media (max-width:450px){
    h1.heading{
        font-size: 30px;
        background-image: url(image/heading-backgroung-image.jpg);
        background-size: cover;
        width: 50%;
        background-position: center;
    }
    table{
        width: 100%;
    }
    th, td{
        font-size: medium;
    }
    .button{
        padding-left: 200px;
    }

}
