@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    line-height: 1.5;
    text-decoration: none;
}

:root {
    --color-text: #2E4057;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #FF6F61;
    --card1-gradient-color2: #FF6F61;
    --card2-gradient-color1: #35A79C;
    --card2-gradient-color2: #35A79C;
    --card3-gradient-color1: #2E4057;
    --card3-gradient-color2: #2E4057;
    --card4-gradient-color1: #B8D8D8;
    --card4-gradient-color2: #B8D8D8;
}

body {
    background-color: #F5F5F5;
}

/*header*/
header {
    background-color: #2E4057;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
    margin-top: auto;
}
.logo-out img{
    width: 300px;
}

.mobile-menu-items{
    display: flex;
    justify-content: space-around;
}
.hamburger-icon {
    display: none;
}
@media (max-width:1024px) {
    .logo img {
        width: calc(100% - 100px);
        height: auto;
    }
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #2E4057;
        border-style: hidden;
        background: scroll;
        top: 0;
        width: 100%;
    }
    
    .menu li {
        float: left;
        padding: 10px;
    }
    
    .menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 2px solid darkolivegreen;
        background-color: #35A79C;
        border-radius: 10px;
    }
    
    .menu a:hover {
        background-color: #FF6F61;
        color: white;
        border: 2px solid black;
        transition: 0.5s ease-in-out;
    }
    
    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        color: red;
        transition: 0.5s ease-in-out;
        display: none;
        position: absolute;
    }    
}
@media (max-width: 768px) {
    .logo img {
        width: calc(100% - 100px);
        height: auto;
    }
    div{
        flex-direction: column;
    }
    .sidenav {
      font-family: sans-serif;
          text-transform: uppercase;
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 10000;
        /* Stay on top */
        top: 0;
        right: 0;
        background-color: white;
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
     
    }
    /* The navigation menu links */
    .sidenav a {
            margin: 20px 0 0px 0;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.3s;
        width: 227px;
    text-align: -webkit-center;
    transition: 0.5s ease-in-out;
    }
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus {
        color: black;
    }
    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
      position: absolute;
      top: -13px;
      right: 32px;
      font-size: 38px;
      margin-left: 50px;
      width: initial;
      
      transition: 0.5s ease-in-out;
    }
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-style: hidden;
        background: scroll;
        top: 0;
        width: 100%;
    }
    
    .menu li {
        float: left;
        padding: 10px;
        transition: 0.5s ease-in-out;
    }
    
    .menu li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: transparent;
        border: none;
        transition: 0.5s ease-in-out;
    }
    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    .hamburger-icon {
          font-size: 32px;
          color: black;
          text-decoration: none;
          z-index: 1000;
          right: 29px;
          top: 9px;
          cursor: pointer;
          display: inherit;
        transition: 0.5s ease-in-out;
      }
      .logo-out img{
        width: 100px;
        margin-top: 60px;
        transition: 0.5s ease-in-out;

      }
}
/*banner*/
.banner {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2E4057;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.banner-content {
    width: 100%;
    color: white;
}

@media screen and (max-width: 768px) {
    .banner-content h1 {
        font-size: 3rem;
    }
    .banner-content p {
        font-size: 1.5rem;
    }
    .about-content h2 {
        font-size: 40px;
        margin: 0;
    }
    .about-content p {
        font-size: 30px;
        width: 90%;
    }
}

/*about, outcome, schedule, guideline*/
.about, .outcome, .schedule, .guideline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    background-color: #2E4057;
}

.about-content, .outcome-content, .schedule-content, .guideline-content {
    width: 100%;
}

.about-content h2, .outcome-content h1, .guideline-heading h1 {
    font-size: 3rem;
    text-decoration: underline;
}

.about-content p, .outcome-content p, .schedule p, .guideline-content p {
    margin: 40px;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .about-content h2, .outcome-content h1, .guideline-heading h1 {
        font-size: 2rem;
    }
    .about-content p, .outcome-content p, .schedule p, .guideline-content p {
        font-size: 1rem;
        width: 90%;
        padding-right: 30px;
    }
}

/*why creathon*/
.content {
    background-color: #2E4057; /* dark blue/slate */
    border: 2px solid #2E4057; /* dark blue/slate */
    color: white; /* text */
    padding: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* box shadow */
}

.benifits-heading h1 {
    color: #35A79C; /* teal */
    text-align: center;
    font-size: 3rem;
    padding: 80px;
    text-decoration: underline;
}

.row {
    margin: 8px;
}

.row, .row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.content:hover {
    background-color: darkgoldenrod; /* light blue/gray */
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .benifits-heading h1 {
        font-size: 2rem;
    }
    .content {
        padding: 5px;
    }
}

/*button*/
.btn {
    margin-left: 100px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    transition: 0.5s ease-in-out;
}

.btn a {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 10px;
    background-color: #FF6F61;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.btn a:hover {
    background-color: #2E4057;
    color: #fff;
}
.registers p{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.guideline-content ul{
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    list-style-type: decimal;
    list-style-position: inside;
}
.creators1 h5{
    font-size: 1.5rem;
    text-align: center;
    padding: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    background-color: #2e2e2e;
}
.creators>.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #2E4057;
  }
  .creators h3{
    padding: 20px;
    text-align: center;
    font-weight: 700;
  }
  .creators p{
    text-align: center;
    font-weight: 700;
  }
  .creators1 img{    
    width: 200px;
    height: auto;
    border-radius: 50%;
    }
  .creators>.row>.column>.content{
    padding: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: orangered;
  }
  .creators>.row>.column>.content:hover{
    transform: none;
  }
    .creators>.row>.column>.content:hover{
        background-color: darkgreen;
    }
    @media screen and (max-width: 600px) {
   .creators>.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .creators>.row>.column>.content{
    padding: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    }
    .creators>.row>.column>.content:hover{
    transform: none;
    }
    .creators>.row>.column>.content:hover{
        background-color: darkgreen;
    }
    .creators1 img{    
    width: 200px;  
    height: auto;
    border-radius: 50%;
    }
    .creators img{
        padding-right: 20px;
    }
    .creators h5{
        font-size: 1.5rem;
        text-align: center;
        padding: 80px;
        margin-bottom: 20px;
        margin-top: 20px;
        color: white;
        background-color: #2e2e2e;
    }
    }
footer {
    background-color: #2E4057;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
footer.Code-Crusaderss h4{
    font-size: 3rem;
    padding: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #2E4057;
    color: white;
    margin-left: 100px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/*scroll button*/
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #222;
    color: white;
    padding: 15px 20px;
    border-radius: 50%;
    transition: background-color 0.3s;
    text-decoration: none;
}

.scroll-button:hover {
    background-color: #2E4057;
}

.scroll-button i {
    font-size: 20px;
    color: white;
}