@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    line-height: 1.5;
    text-decoration: none;
}
:root{
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7F00FF;
  --card2-gradient-color2: #E100FF;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}
body{
    background-color:#B8D8D8 ;
}
/*header*/
header{
    background-color: #35A79C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
    margin-top: auto;
}

.logo img {
    width: 200px;
    margin-bottom: 50px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-style: hidden;
  background: scroll;
  top: 0;
  width: 100%;
}

.menu li {
  float: left;
  padding: 10px;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16x;
  text-decoration: none;
  border: 2px solid darkolivegreen;
  padding: 10px;
  color: black;
  background-color: darkorange;  
  border-radius:10px;
}
.menu a:hover{
  background-color:black;
  color: white;
  transition: 0.5s ease-in-out;
  border: 2px solid black;
}
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: red;
  transition: 0.5s ease-in-out;
  display: none;
  position: absolute;
}
@media (max-width: 768px){
  .logo img{
    width: 100px;
  }
  .menu ul{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .menu{
    display: none;
  }
 .menu-icon{
    display: block;
    position: absolute;
    right: 20px;
    top: 0;
    padding: 10px;
    cursor: pointer;
  }
  .menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: red;
    transition: 0.5s ease-in-out;
  }
  .menu-icon:hover{
    transition: 0.5s ease-in-out;
    background-color: transparent;
  }
  /*responsive menu*/
  #myLinks {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }

}
  /*banner*/
.banner{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2E4057;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
.banner-content{
    width: 100%;
}
@media screen and (max-width: 768px){
    .banner-content h1{
        font-size: 3rem;
    }
    .banner-content p{
        font-size: 1.5rem;
    }   
    .about-content h2{
        font-size: 40px;
        margin: 0;
    }
    .about-content p{
        font-size: 30px;
        width: 90%;
    }
}
/*about*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: #2E4057;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}
.about-content{
    width: 100%;
}
.about-content h2{
    font-size: 3rem;
    text-decoration: underline;
}
.about-content p{
    margin: 40px;
    font-size: 1.5rem;
}
@media (max-width: 768px){
    .about-content h2{
        font-size: 2rem;
    }
    .about-content p{
        font-size: 1rem;
        width: 90%;
        padding-right: 30px;
    }
  
}
/*outcome*/
.outcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: #2E4057;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
}
.outcome{
    width: 100%;
}
.outcome-content h1{
    font-size: 3rem;
    text-decoration: underline;
}
.outcome-content p{
    margin: 40px;
    font-size: 1.5rem;
}
@media (max-width: 768px){
    .outcome-content h1{
        font-size: 2rem;
    }
    .outcome-content p{
        font-size: 1rem;
        width: 90%;
        padding-right: 30px;
    }
}
/*why creathon*/
.content {
  background-color: rgb(219, 131, 16);
  padding: 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.benifits-heading h1{
  color: #2E4057;
  text-align: center;
  font-size: 3rem;
  padding: 80px;
  text-decoration: underline;
}
.row {
  margin: 8px;
}
.row,
.row > .column {
  padding: 8px;
}
.column {
  float: left;
  width: 25%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content:hover {
  background-color: #ddd;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
    padding: 15px;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
@media (max-width: 768px){
  .benifits-heading h1{
    font-size: 2rem;
  }
  .content{
    padding: 5px;
  }
}
/*schedule*/
.schedule{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: #2E4057;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
}
.heading h1{
  color: #2E4057;
  text-align: center;
  font-size: 3rem;
  padding: 80px;
  text-decoration: underline;
}
.schedule p{
font-size: medium;
padding: 80px;
}
@media screen and (max-width: 768px){
  .heading h1{
    font-size: 2rem;
    padding: 50px;
  }
  .schedule p{
    font-size: 1rem;
  }
  
}
/*guideline*/
.guideline{
  color: #2E4057;
  text-align: center;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  padding: 80px;
}

.guideline-heading h1{
  text-decoration: underline;
  font-size: 3rem;
  margin: 20px;
}

.guideline-content h2{
  margin: 40px;
  text-align: center;
}
.guideline-content h3{
  margin: 40px;
  text-align: left;
}
.guideline-content p{
  margin: 40px;
  width: 90%;
}
@media (max-width: 768px){
  .guideline-heading h1{
    font-size: 2rem;
  }
  .guideline-content h2{
    font-size: 1.5rem;
  }
  .guideline-content p{
    font-size: 1rem;
  }}
  /*schedule*/
.schedule{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: #2E4057;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
}
.schedule h1{
  font-size: 2rem;
}
.schedule p{
  font-size: 1.5rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.heading h1{
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  font-weight: 700;}

/*creators*/
.creators h1{
  color: #2E4057;
  text-align: center;
  font-size: 3rem;
  padding: 80px;
}
.creators>.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  text-align: center;
}
.creators h3{
  padding: 20px;
  text-align: center;
  font-weight: 700;
}
.creators p{
  padding: 20px;
  text-align: center;
  font-weight: 700;
}
.creators img{
  width: 100%;
  height: auto;
}
.creators>.row>.column>.content{
  padding: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.creators>.row>.column>.content:hover{
  transform: none;
}
@media screen and (max-width: 768px){
  .creators h1{
    font-size: 2rem;
  }
  .creators h3{
    font-size: 1.5rem;
  }
  .creators p{
    font-size: 1rem;
  }
  .creators>.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
}
/*button*/
.btn{
  margin-left: 100px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.btn a{
    text-decoration: none;
    border: 2px solid black;
    color: black;
    padding: 10px;
    background-color: goldenrod;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.btn a:hover{
  background-color: black;
  color: #fff;
  transition: 0.5s ease-in-out;
  border: 2px solid black;
}
.register p{
  font-size: 1.5rem;
  text-align: center;
}
/*footer*/
 footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
.scroll-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 15px 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
  text-decoration: none;
}
.scroll-button:hover{
  background-color: #ddd;
}
.scroll-button i{
  font-size: 20px;
}